@media (min-width:766px){
    #mail1{
        width:460px !important;
    }
    #subscribe{
        position: relative;
        left: 100px !important;
    }
    
}

@media (max-width:376px){
    .btn{
        width:100px !important;
       
    }
    body{
        background: none !important;
    }

}
@media (max-width:465px){
    .btn{
        width:100px !important;
       
    }
}
@media(max-width:765px) and (min-width:450px) {
    #subscribe{
        position: relative !important;
       
        text-align: center !important;
    }
    

}

*{
    box-sizing: border-box;
}
body{
    background-attachment: scroll;
}






body{
    background-color: #accffe;;
}

.container{
    max-width:550px;
    
    background: white;
    border-radius: 10px;
    margin-top:35px;
    
}

.heding{
    height:60px;
    background-color:#0d6efd;

    margin-left: -12px;
    margin-right: -12px;
    border-radius: 10px 10px 0 0;
    color: white;
    vertical-align: middle;
    padding-top: 10px;
    
   
}
.form-control{
    display: inline;
    border-radius: 20px;
    width: 90%;
}

.req{
    display: block;
    color:rgb(240, 11, 11);
    font-size: 13px;
}
.star{
    color:red;
}
.reg{
    margin-top: 30px;
}

.sub-grp{
    margin-bottom:20px;
}
#mobile2{
    position: relative !important;
    left:10px !important;
}
#generror{
    position: relative;
    left:50px;
    margin-bottom:20px;
}
.btn{
    width:160px;
   
}

#grp1{
    display: none;
}
.form-select{
   
 display: inline;
 width: 90%;
 border-radius: 20px;
}

.optional{
    position: relative;
    left:10px;
    margin-bottom: 35px;
}

#exprsn{
    width:60%;
    background: none;
}
#refresh{
    border:none;
    background: none;
    position: relative;
    left:20px;
    top:5px;

}
.fas{
    font-size: 2em;
    color:rgba(8, 51, 170, 0.788);
}
#subscribe{
    position: relative;
    top:-35px;
}

#last{
    position: relative;
    top:-20px;
   
}
#extra1{
    height:20px;
}

input:focus::placeholder{
    color:transparent;
}






